<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evergreen Movies</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    
    <!-- preloader -->
    <div class="preloader">
        <div class="loader"></div>
    </div>
<!-- preload end -->

<!-- header section start -->

<header class="header">
    <div class="container">
        <div class="row justify-content-between align-item-center">
            <div class="brand-me">
                <a href="index.html">Evergreen Movies</a>
            </div>
            <div class="nav-toggle">
                <span></span>
                <div>
                    <nav class="nav">
                        <ul>
                            <li><a href="#home">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#categories">Categories</a></li>
                            <li><a href="#top">Top-Rated</a></li>
                            <li><a href="#content">content</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header end -->

<!-- Home Section Starts -->

<section class="home-section" id="home" >

    <!-- shape -->
    <div class="shape-01">
        
    </div>
    <div class="container">
        <div class="row align-item-center" >
            <div class="home-content">
        <h4>Download your favourite movie in just a click</h4>
        <h2>Welcome to Evergreen movie </h2>
    </div>
    <!-- scroll -->
    <a href="#about" class="scroll-down">
        <img src="img/icon/pngwing.com.png" alt="scroll">
    </a>
</div>
</div>
</section>
<!-- Home section end -->


<!-- About section  start-->

<section class="about-section"id="about">
<div class="container">
    <div class="row">
        <div class="img-box">
            <div class="shape-02">
                <img src="/img/icon/clapbox.jpg" alt="About">
            </div>
        </div>
        <div class="about-content">
            <div class="row">
                <div  class="section-title">
                    <h1>About Us</h1>
                </div>
            </div>
            <p>dsdsdsdsddddsdsdsds</p>
            <div class="start">
                <div class="row">
                    <div class="start-box">
                        <h2>150k+</h2>
                        <h5>Daily Downloads</h5>
                    </div>
                    <div class="start-box">
                        <h2>250k+</h2>
                        <h5>Movies Available</h5>
                    </div>
                    <div class="start-box">
                        <h2>1M+</h2>
                        <h5>Happy Clients</h5>
                    </div>
                </div>
            </div>
            <!-- Contact Button -->
            <a href="#contact"class="btn btn-01">Contact Us</a>
         </div>
    </div>
</div>
</section>
<!-- about us end -->
<!-- Categories section start -->

<section class="service-section" id="categories">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h1>Categories</h1>
             </div>
        </div>
        <div class="row">
            <!-- categories start -->
            <div class="service-item">
                <div class="service-item-inner">
                    <img src="img/service/img1.jepg" alt="category 1">
                    <div class="overlay">
                        <h3>sci fi</h3>
                    </div>
                </div>
            </div>
            <div class="service-item">
                <div class="service-item-inner">
                    <img src="img/service/img2.jpeg" alt="category 1">
                    <div class="overlay">
                        <h3>Mystery</h3>
                    </div>
                </div>
            </div>
            <div class="service-item">
                <div class="service-item-inner">
                    <img src="img/service/img3.jpeg" alt="category 1">
                    <div class="overlay">
                        <h3>Drama</h3>
                    </div>
                </div>
            </div>
            <div class="service-item">
                <div class="service-item-inner">
                    <img src="img/service/img4.jpg" alt="category 1">
                    <div class="overlay">
                        <h3>Fantansy</h3>
                    </div>
                </div>
            </div>
            <div class="service-item">
                <div class="service-item-inner">
                    <img src="img/service/img5.jpg" alt="category 1">
                    <div class="overlay">
                        <h3>Comedy</h3>
                    </div>
                </div>
            </div>
            <div class="service-item">
                <div class="service-item-inner">
                    <img src="img/service/img6.jpg" alt="category 1">
                    <div class="overlay">
                        <h3>Animation</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Top raited section -->

<section class="work-section" id="top">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h1>Top-Rated Movies</h1>
            </div>
            <div class="row">
                <!-- Top raated Movies -->
                <div class="work-item">
                    <div class="work-item-inner">
                        <img src="img/works/thum"data-large="img/works/large/1.png" alt="Movie 1">
                        <div class="overlay">
                            <h4>Avengers: Endgame</h4>
                        </div>
                    </div>
                </div>
                <div class="work-item">
                    <div class="work-item-inner">
                        <img src="img/works/img1.jpg"data-large="img/works/large/1.png" alt="Movie 1">
                        <div class="overlay">
                            <h4>Caption marvel</h4>
                        </div>
                    </div>
                </div>
                <div class="work-item">
                    <div class="work-item-inner">
                        <img src="img/works/img2.jpg"data-large="img/works/large/1.png" alt="Movie 1">
                        <div class="overlay">
                            <h4>Aquaman</h4>
                        </div>
                    </div>
                </div>
                <div class="work-item">
                    <div class="work-item-inner">
                        <img src="img/works/img3.jpg"data-large="img/works/large/1.png" alt="Movie 1">
                        <div class="overlay">
                            <h4>Wonder Woman</h4>
                        </div>
                    </div>
                </div>
                <div class="work-item">
                    <div class="work-item-inner">
                        <img src="img/works/img4.jpg"data-large="img/works/large/1.png" alt="Movie 1">
                        <div class="overlay">
                            <h4>Spider-Man</h4>
                        </div>
                    </div>
                </div>
                <div class="work-item">
                    <div class="work-item-inner">
                        <img src="img/works/img5.jpg"data-large="img/works/large/1.png" alt="Movie 1">
                        <div> Iron Man</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- top raited end -->
  <!-- Contact Section  -->

  <section class="contact-sectoin" id="contact">
    <div class="container">
        <div class="row">
            <div class="img-box">
                <div class="section-title">
                    <h1>Contact Us</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="contact-form">
            <form action="form">
                <div class="row">
                    <div class="left input-group">
                        <label for="">Name</label>
                        <input type="text" placeholder="Your Name" class="input-control">
                    </div>
                    <div class="right input-group">
                        <label for="">Email or Phone</label>
                        <input type="text" placeholder="Your Email">
                    </div>
                </div>

<div class="row">
    <div class="input-group">
        <label for="">Mesage</label>
        <textarea class="input-control" placeholder="You measage Here..."  ></textarea>
    </div>
</div>
<div class="form-btn">
    <button type="button" class="btn btn-01">Send Message</button>
</div>
<div id="diloge">
    Thankyou for contactiong us we'll get back to you soon. Don't  forget to check you email.
</div>
            </form>
        </div>
    </div>
  </section>
  <p class="copyright">&copy; 2023 Evergreen Movie</p>


  <!-- light box start -->
  <div class="lightbox">
    <div class="lightbox-close">&times;
<img src="img/works/large/" class="lightbox-img"  alt="img1"  >
<div class="light-caption">
    <div class="light-box-category">

    </div>
    <div class="lightbox-counter">

    </div>
</div>
<div class="lightbox-controls">
    <div class="prev">
        <img src="img/icons/" alt="previous">
    </div>
    <div class="next">
        <img src="img/icons" alt="next">

    </div>
    </div>
    </div>
  </div>

  <!-- light box end -->
</body>

<script src="javascript/script.js"></script>
</html>