<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.3.slim.min.js" integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo=" crossorigin="anonymous"></script>
    <title>Evergreen Movies</title>

    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    
    <!-- preloader -->
    <div class="preloader">
        <div class="loader"></div>
    </div>
<!-- preload end -->

<!-- header section start -->

<header class="header">
    <div class="container">
        <div class="row justify-content-between align-item-center">
            <div class="brand-name">
                <h1>Evergreen Movies</h1>
            </div>
            <div class="nav-toggle">
                <span></span>
            </div>
                    <nav class="nav">
                        <ul>
                            <li><a href="#home">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#categories">Categories</a></li>
                            <li><a href="#top">Top-Rated</a></li>
                            <li><a href="#contact">content</a></li>
                        </ul>
                  </nav>
            </div>
        </div>
</header>
<!-- Header end -->

<!-- Home Section Starts -->
<section class="home-section" id="home" >
    <!-- shape -->
    <div class="shape-01"></div> 
    <div class="container">
        <div class="row align-items-center" >
            <div class="home-content">
        <h4>Download your favourite movie in just a click</h4>
        <h2>Welcome to Evergreen Movies</h2>
    </div>
   </div>
    <!-- scroll -->
    <a href="#about" class="scroll-down">
        <img src="img/icon/pngwing.com.png" alt="scroll down">
    </a>
</div>
</section>
<!-- Home section end -->

<!-- About section  start-->
<section class="about-section"id="about">
<div class="container">
    <div class="row">
        <div class="about-img">
            <div class="img-box">
            <!-- shape box -->
            <div class="shape-02"></div>
                <img src="/img/icon/clapbox.jpg" alt="About">
            </div>
            </div>
        <div class="about-content">
            <div class="row">
                <div  class="section-title">
                    <h1>About Us</h1>
                </div>
            </div>
            <p>paragraph fkdldkwlke jkoweopqwmd,f mirbvjrfpiejn fjkn</p>
            <div class="stats">
                <div class="row">
                    <div class="stats-box">
                        <h2>150k+</h2>
                        <h5>Daily Downloads</h5>
                    </div>
                    <div class="stats-box">
                        <h2>250k+</h2>
                        <h5>Movies Available</h5>
                    </div>
                    <div class="stats-box">
                        <h2>1M+</h2>
                        <h5>Happy Clients</h5>
                    </div>
                </div>
            </div>
            <!-- Contact Button -->
            <a href="#contact"class="btn btn-01">Contact Us</a>
         </div>
    </div>
</div>
</section>
<!-- about us end -->
<!-- Categories section start -->

<section class="service-section" id="categories">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h1>Categories</h1>
             </div>
        </div>
        <div class="row">
            <!-- categories start -->
            <div class="service-item">
                <div class="service-item-inner">
                    <img src="img/service/img1.jpeg" alt="category 1">
                    <div class="overlay">
                        <h3>sci fi</h3>
                    </div>
                </div>
            </div>
            <div class="service-item">
                <div class="service-item-inner">
                    <img src="img/service/img2.jpeg" alt="category 1">
                    <div class="overlay">
                        <h3>Mystery</h3>
                    </div>
                </div>
            </div>
            <div class="service-item">
                <div class="service-item-inner">
                    <img src="img/service/img3.jpg" alt="category 1">
                    <div class="overlay">
                        <h3>Drama</h3>
                    </div>
                </div>
            </div>
            <div class="service-item">
                <div class="service-item-inner">
                    <img src="img/service/img4.jpg" alt="category 1">
                    <div class="overlay">
                        <h3>Fantansy</h3>
                    </div>
                </div>
            </div>
            <div class="service-item">
                <div class="service-item-inner">
                    <img src="img/service/img5.jpg" alt="category 1">
                    <div class="overlay">
                        <h3>Comedy</h3>
                    </div>
                </div>
            </div>
            <div class="service-item">
                <div class="service-item-inner">
                    <img src="img/service/img6.jpg" alt="category 1">
                    <div class="overlay">
                        <h3>Animation</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Top raited section -->

<section class="work-section" id="top">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h1>Top-Rated Movies</h1>
            </div>
            <div class="row">
                <!-- Top raated Movies -->
                <div class="work-item">
                    <div class="work-item-inner">
                        <img src="img/works/img01.jpg"data-large="img/works/large/1.png" alt="Movie 1">
                        <div class="overlay">
                            <h4>Titanic</h4>
                        </div>
                    </div>
                </div>
                <div class="work-item">
                    <div class="work-item-inner">
                        <img src="img/works/img1.jpg"data-large="img/works/large/1.png" alt="Movie 1">
                        <div class="overlay">
                            <h4>Avengers:Endgame</h4>
                        </div>
                    </div>
                </div>
                <div class="work-item">
                    <div class="work-item-inner">
                        <img src="img/works/img2.jpg"data-large="img/works/large/1.png" alt="Movie 1">
                        <div class="overlay">
                            <h4>Top Gun: Maverick </h4>
                        </div>
                    </div>
                </div>
                <div class="work-item">
                    <div class="work-item-inner">
                        <img src="img/works/img3.jpg"data-large="img/works/large/1.png" alt="Movie 1">
                        <div class="overlay">
                            <h4>Wonder Woman</h4>
                        </div>
                    </div>
                </div>
                <div class="work-item">
                    <div class="work-item-inner">
                        <img src="img/works/img4.jpg"data-large="img/works/large/1.png" alt="Movie 1">
                        <div class="overlay">
                            <h4>Avatar </h4>
                        </div>
                    </div>
                </div>
                <div class="work-item">
                    <div class="work-item-inner">
                        <img src="img/works/img5.jpg"data-large="img/works/large/1.png" alt="Movie 1">    
                   <div class="overlay">
                      <h4> Iron Man</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- top raited end -->

  <!--  Contact Section  start -->
  <section class="contact-section" id="contact">
    <div class="container">
        <div class="row">
            <div class="contact-img">
                <div class="img-box">
                <div class="section-title">
                    <h1>Contact Us</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="contact-form">
            <form action="form">
                <div class="row">
                    <div class="left input-group">
                        <label>Name</label>
                        <input type="text" placeholder="Your Name Here" class="input-control">
                    </div>
                    <div class="right input-group">
                        <label for="">Email or Phone</label>
                        <input type="text" placeholder="Your Email or phone number" class="input-control">
                    </div>
                    </div>
          
            <div class="row">
                <div class="input-group">
                    <label>Message</label>
                    <textarea class="input-control" placeholder="You measage Here..."  ></textarea>
                </div>
            </div>
            <div class="form-btn">
                <button type="button" class="btn btn-01" id="button">Send Message</button>
            </div>
                <div id="diloge">
                    Thankyou for contactiong us we'll get back to you soon. Don't  forget to check you email.
            </div>
             </div>
        </form>
     </div>
     </div>
</section>
<p class="copyright">&copy; 2023 Evergreen Movie</p>
</body>
<script src="javascript/script.js"></script>
</html>